@import "variables";

.footer {
  color: $font-color2;
  background-color: $bg-color6;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
  &__wrap {
    padding: 12px 0 21px 0;
    display: grid;
    grid-template-columns: 55% 30% 15%;
  }
  &__brand{
    display: block;
    text-align: center;
    font-family: $font-logo;
    font-size: 22px;
    font-weight: 700;
    line-height: 113.636%;
    text-transform: uppercase;
  }
  &__logo-wrap{
    display: flex;
    align-items: center;

  }
  &__logo-img {
    margin-right: 13px;
    width: 24px;
    svg {
      max-height: 59px;
    }
  }
  &__menu{
    padding: 7px 0 0 0;
    font-size: 14px;
    display: flex;
    gap: 36px;
  }
  &__contacts {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    position: relative;
    padding-top: 11px;
    &:before {
      position: absolute;
      display: block;
      content: "";
      top: 13px;
      left: 22px;
      width: 14px;
      height: 14px;
      background: url("../img/footer-telephone.svg") no-repeat center;
    }
  }
  &__tel{
    display: inline-block;
    padding: 0 0 4px 0;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 3px;
      background-color: red;
    }
  }
  &__copy {
    font-family: $font-copy;
    font-size: 14px;
    text-transform: none;
  }
  &__contacts-icon svg {
    width: 22px;
    height: 22px;
  }
}
