@import "variables";

.know {
  &__wrap {
    display: flex;
    align-items: center;
    margin: 0 0 12px 0;
  }
  &__picture {
    width: 45%;
    svg {
      height: 438px;
    }
  }
  &__body {
    width: 55%;
  }
  &__title {
    margin: 0 0 22px 0;
  }
}
