@import 'variables';

/**
  Десктоп маленький
 */
@media screen and (max-width: 1429px) {
  .tariffs {
    &__phd{
      font-size: 270px;
    }
  }
}

/**
  Планшет горизонтальний
 */
@media screen and (max-width: 1279px) {
  .tariffs {
    &__phd{
      font-size: 220px;
    }
  }
  .shadow-text {
    font-size: 200px;
  }
  .time {
    &__reasons {
      column-gap: 40px;
    }
  }
  .goal {
    &__task-title {
      width: 95%;
    }
  }
}

@media screen and (max-width: 1170px) {
  .header {
    &__wrap {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .intro {
    &__wrap {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .know {
    &__wrap {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .tariffs {
    &__wrap {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .reasons {
    &__wrap {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .examples {
    &__wrap{
      .container {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
  .thesis {
    &__wrap {
      padding-right: 10px;
      padding-left: 10px;
    }
    &__form {
      margin-right: -10px;
      margin-left: -10px;
    }
    &__area {
      width: 250px;
    }
    &__btn {
      width: 180px;
    }
  }
  .goal {
    &__main {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .time {
    &__title {
      padding-right: 10px;
      padding-left: 10px;
    }
    &__subtitle {
      padding-left: 75px;
      &::before {
        left: 10px;
      }
    }
  }
  .footer {
    &__wrap {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/**
  Планшет вертикальний
 */
@media screen and (max-width: 1023px) {
  .shadow-text {
    font-size: 140px;
  }
  .tariffs {
    &__phd{
      display: none;
    }
    &__item {
      width: 100%;
    }
  }
  .time {
    &__title {
      width: 100%;
    }
    &__subtitle {
      width: 100%;
    }
  }
  .thesis {
    &__area {
      display: none;
    }
    &__btn {
      width: 200px;
    }
  }
  .contact {
    &__wrap {
      gap: 20px;
      padding: 40px 10px 70px 25px;
    }
    &__title {
      font-size: 28px;
    }
  }
  .reasons {
    &__row {
      gap: 30px;
      &_first {
        padding-right: 0;
      }
      &_second {
        padding-left: 0;
      }
    }
  }
  .goal {
    &__body {
      margin-bottom: 30px;
    }
  }
  .footer {
    &__wrap {
      grid-template-columns: 1fr 1fr auto;
    }
    &__contacts {
      width: 155px;
    }
  }

}

/**
  Мобільні пристрої
 */
@media screen and (max-width: 767px) {
  .title {
    font-size: 48px;
    line-height: normal;
  }
  .title-mid {
    font-size: 38px;
  }
  .menu {
    gap: 20px;
    &__list {
      gap: 15px;
    }
  }
  .shadow-text {
    font-size: 100px;
  }
  .form {
    &__pre-tel {
      padding-right: 5px;
      justify-content: end;
    }
    &__input._tel {
      flex-grow: 1;
      flex-shrink: 1;
    }
    &__box-tel {
      width: 100%;
    }
  }
  .intro {
    &__wrap {
      margin-bottom: 40px;
    }
    &__num {
      font-size: 64px;
    }
    &__stat-desc{
      font-size: 18px;
    }
  }
  .know {
    &__picture {
      svg {
        height: 300px;
      }
    }
  }
  .tariffs {
    &__wrap {
      margin-bottom: 80px;
    }
  }
  .reasons {
    &__num {
      font-size: 100px;
    }
    &__row {
      padding-top: 40px;
    }
    &__body {
      padding-right: 10px;
    }
  }
  .goal {
    &__task {
      padding-top: 20px;
    }
    &__task-text {
      width: 100%;
    }
  }
  .thesis {
    &__form {
      form {
        flex-direction: column;
        gap: 15px;
      }
    }
    &__input, .thesis__area, .thesis__tel, .thesis__btn {
      width: 100%;
      height: 60px;
    }
    &__benefits {
      gap: 10px;
    }
    &__benefits-name {
      font-size: 18px;
    }
  }
  .contact {
    &__wrap {
      flex-direction: column;
      padding: 43px 20px 0;
    }
    &__title {
      font-size: 24px;
    }
    &__body {
      max-width: 100%;
    }
    &__form {
      padding-top: 0;
      margin-bottom: 83px;
    }
  }
  .footer {
    &__menu {
      gap: 15px;
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 100%;
  }

  .menu {
    padding: 0;
    &__list {
      gap: 0;
      font-weight: 700;
      padding-right: 40px;
    }
    &__item {
      padding: 0;
    }
  }

  .title {
    font-size: 33px;
    line-height: 38px; /* 115.152% */
    text-transform: uppercase;
    text-align: center;
  }

  .title-mid {
    font-size: 33px;
  }

  .subtitle {
    padding-left: 40px;
  }

  .shadow-text {
    font-size: 72px;
    letter-spacing: -5px;
  }

  .subtitle {
    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 7px;
      background: url("../img/zigzag-red-mobile.svg") no-repeat;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }

  .form__box-tel {
    width: 100%;
  }

  .header {
    &__wrap {
      justify-content: space-between;
      padding: 14px 10px;
      margin-bottom: 23px;
    }
    &__contacts {
      width: 100%;
      padding-right: 10px;
      position: relative;
      &:before {
        position: absolute;
        display: block;
        content: "";
        top: 10px;
        right: 145px;
        width: 14px;
        height: 14px;
        background: url("../img/footer-telephone.svg") no-repeat center;
      }
    }
    &__menu {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      right: -65%;
      width: 66%;
      height: 100%;
      background-color: $bg-color2;
      color: $font-color2;
      padding: 100px 0 0 0;
      transition: all 0.3s ease 0s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &._active {
        opacity: 1;
        visibility: visible;
        right: 0;
      }
      & > .menu__list {
        flex-direction: column;
        align-items: flex-end;
      }
      & > .menu__item {
        font-weight: 700;
        font-size: 24px;
      }
      &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
        height: 100%;
        background-color: $bg-color7;
      }
    }
    &__name {
      font-size: 18px;
    }
    &__burger {
      display: block;
      width: 40px;
      height: 40px;
      background: $bg-color2;
      border-radius: 50%;
      position: relative;
      &:before,
      &:after,
      span {
        position: absolute;
        left: 20%;
        width: 60%;
        height: 2px;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        border-radius: 10%;
      }
      &:before,
      &:after {
        content: '';
      }
      &:before {
        top: 30%;
      }
      &:after {
        bottom: 30%;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
      }
    }
    &__burger._active {
      border: 1px solid #fff;
      &:before {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
      }
      &:after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0, 50%);
      }
      span {
        transform: scale(0) translate(0, -50%);
      }
    }
    &__brand {
      width: auto;
    }
    &__logo-img {
      width: 24px;
    }
    &__tel {
      display: block;
    }
  }

  .intro {
    &__wrap {
      margin-bottom: 52px;
    }
    &__title {
      margin: 0 auto 9px;
    }
    &__subtitle {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px; /* 137.5% */
    }
    &__btn {
      flex-direction: column;
      gap: 19px;
      margin-bottom: 75px;
    }
    &__stat {
      display: grid;
      grid-template-columns: auto auto;
    }
    &__stat-item {
      &:nth-child(odd) {
        margin-right: 30px;
      }
    }
    &__num {
      font-size: 80px;
      span.plus {
        font-size: 28px;
      }
      span.word {
        font-size: 22px;
      }
    }
    &__btn-item {
      width: 261px;
      height: 70px;
    }
    &__btn-desc {
      max-width: 100%;
      text-align: center;
    }
  }

  .know {
    &__wrap {
      flex-direction: column-reverse;
      padding: 0 10px;
      margin-bottom: 10px;
    }
    &__body {
      width: 100%;
    }
    &__title {
      margin-bottom: 7px;
    }

  }

  .tariffs {
    &__wrap {
      padding: 0 10px;
    }
    &__arrow {
      top: -38px;
      a {
        height: 38px;
      }
      a.desktop {
        display: none;
      }
      a.mobile {
        display: block;
      }
    }
    &__title {
      font-size: 20px;
      padding: 45px 0 0 35px;
      margin-bottom: 28px;
      &::before {
        content: "";
        position: absolute;
        background: url("../img/zigzag-red-mobile.svg");
        display: block;
        width: 30px;
        height: 7px;
        left: 0;
        top: 55px;
      }
    }
    &__item {
      width: 100%;
      flex-direction: column;
    }
    &__item-title {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__action {
      flex-direction: column;
    }
    &__body {
      width: 100%;
    }
    &__price {
      margin-bottom: 15px;
    }
    &__number {
      font-size: 18px;
      text-align: left;
      color: $font-color4;
    }
    &__profit {
      font-size: 14px;
      opacity: 0.6;
      text-align: left;
    }
    &__btn {
      height: 45px;
      width: 100%;
    }
    &__body {
      margin-bottom: 20px;
    }
    &__list {
      width: 100%;
      padding-left: 0;
    }
    &__item {
      padding: 20px;
    }
    &__list-title {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__list-item {
      font-size: 14px;
    }
    &__list_pad {
      padding-top: 0;
    }
    &__phd {
      display: none;
    }
    &__wrap {
      margin-bottom: 57px;
    }
  }

  .reasons {
    &__title {
      margin-bottom: 100px;
    }
    &__main {
      flex-direction: column-reverse;
    }
    &__body {
      width: 100%;
      padding: 0 20px;
    }
    &__row {
      padding: 0;
      flex-direction: column;
      gap: 0;
    }
    &__item {
      margin-bottom: 90px;
      font-size: 16px;
      &:nth-child(even) {
        padding-left: 52px;
      }
    }
    &__row_second .reasons__item:last-child {
      margin-bottom: 0;
    }
    &__picture {
      width: 100%;
      padding: 0 20px;
    }
    &__wrap {
      margin-bottom: 20px;
    }
  }

  .examples {
    &__title {
      font-size: 16px;
      margin-bottom: 12px;
    }
    &__subtitle {
      width: 100%;
      font-size: 14px;
      margin-bottom: 29px;
    }
    &__item {
      font-size: 14px;
    }
  }

  .thesis {
    &__wrap {
      padding-top: 50px;
      margin-bottom: 53px;
    }
    &__title {
      font-size: 33px;
      margin-bottom: 12px;
    }
    &__subtitle {
      margin-bottom: 28px;
    }
    &__benefits {
      flex-direction: column;
      align-items: center;
      gap: 28px;
      margin-bottom: 36px;
    }
    &__benefits-item {
      max-width: 100%;
      gap: 5px;
    }
    &__form {
      margin: 0;
      padding-left: 38px;
      padding-right: 38px;
    }
  }

  .goal {
    &__wrap {
      margin-bottom: 40px;
    }
    &__main {
      flex-direction: column;
    }
    &__body {
      width: 100%;
    }
    &__title {
      margin-bottom: 7px;
      font-size: 24px;
    }
    &__subtitle {
      margin-bottom: 36px;
    }
    &__text {
      margin-bottom: 16px;
    }
    &__picture {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__task {
      padding: 37px 20px 93px;
    }
    &__task-title {
      width: 100%;
    }
    &__task-text {
      width: 100%;
    }
  }

  .time {
    &__wrap {
      padding-bottom: 67px;
    }
    &__title {
      font-size: 24px;
      width: 100%;
      margin-bottom: 12px;
    }
    &__subtitle {
      width: 100%;
    }
    &__reasons {
      grid-template-columns: 1fr;
      row-gap: 21px;
    }
    &__item {
      width: 100%;
      font-size: 14px;
      padding-left: 13px;
      height: 123px;
    }
    &__num {
      font-size: 150px;
    }
  }

  .contact {
    &__wrap {
      margin: 0 0 74px;
      gap: 22px;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 9px;
    }
    &__subtitle {
      font-size: 14px;
    }

  }

  .footer {
    &__wrap {
      padding-top: 10px;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: repeat(3, auto);
      row-gap: 15px;
    }
    &__brand {
      width: auto;
    }
    &__menu {
      grid-column: span 2;
      font-size: 12px;
      gap: 22px;
      width: 100%;
      justify-content: center;
      padding-top: 0;
    }
    &__contacts {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;

    }
    &__copy {
      grid-column: span 2;
    }
  }

  .popup {
    &__content {
      width: 90%;
      margin: 0 auto;
      padding: 46px 22px 33px;
    }
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      font-size: 14px;
      width: 100%;
    }
    &__field {
      width: 100%;
      margin-bottom: 15px;
    }
    &__personal {
      width: 100%;
    }
  }

  .error {
    gap: 30px;
    &__name {
      font-size: 55px;
    }
    &__num {
      font-size: 150px;
      line-height: 150px;
    }
  }

}
