$font-1: 'Montserrat', sans-serif;
$font-2: 'Roboto', sans-serif;
$font-logo: 'PT Serif', serif;

$font-color1: #000;
$font-color2: #fff;
$font-color3: #313131;
$font-color4: #D83838;
$font-color5: #2E2E2E;
$font-color6: #E0E0E0;

$bg-color1: #FFFCF8;
$bg-color2: #D83838;
$bg-color3: #fff;
$bg-color4: #313131;
$bg-color5: #FBFBFB;
$bg-color6: #414040;

$border-color1: #D83838;
$border-color2: #B7B7B7;
$border-color3: #303030;
$border-color4: #D9D9D9;