@import 'mixins';
@import 'variables';
@import "fonts";

@import 'header';
@import 'intro';
@import 'know';
@import 'tariffs';
@import 'reasons';
@import 'examples';
@import 'thesis';
@import 'goal';
@import 'time';
@import 'contact';
@import 'footer';
@import 'popup';
@import 'error';

body {
  font-family: $font-1;
  color: $font-color1;
  font-size: 22px;
  font-weight: 400;
  background-color: $bg-color1;
  line-height: normal;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.menu {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 142.857%;
  gap: 32px;
  &__item {

  }
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  color: $font-color5;
  @media (max-width: 576px) {

  }
}

.title-mid {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
}

.title-s {
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle {
  position: relative;
  padding-left: 67px;
  &::before {
    content: "";
    display: block;
    width: 54.5px;
    height: 12.5px;
    background: url("../img/zigzag-red.svg") no-repeat;
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.text {
  &_red {
    color: $font-color4;
  }
  &_strong {
    font-weight: 700;
  }
}

.button {
  cursor: pointer;
  font-size: 16px;
  &_red {
    background: $bg-color2;
    color: $font-color2;
  }
  &_white {
    background: $bg-color3;
  }
}

.shadow-text {
  text-align: center;
  font-size: 225px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.05;
  letter-spacing: -10px;
}

.form {
  &__input {
    border: 1px solid $border-color4;
    background: $bg-color5;
    height: 60px;
    padding: 0 16px;
    &_text {
      font-size: 14px;
    }
    &_area {
      font-size: 12px;
      padding-top: 10px;
    }

  }
  &__btn {
    height: 60px;
  }
}

.icon-box {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.form__input._error{
  box-shadow: 0 0 15px $bg-color2;
}

._error {
  box-shadow: 0 0 15px $bg-color2;
}

.form {
  position: relative;
}
.form:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.list_red {
  &::before {
    content: "";
    display: block;
    background: url("../img/circle_list_red-icon.svg") no-repeat center;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 5px;
  }
}

.list_white {
  &::before {
    content: "";
    display: block;
    background: url("../img/circle_list_white-icon.svg") no-repeat center;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 5px;
  }
}

@import 'responsive';
