<footer class="footer">

  <div class="container">
    <div class="footer__wrap">
      <div class="footer__brand">
        <a href="#" class="footer__logo">
          <div class="footer__logo-wrap">
            <div class="footer__logo-img">
              <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#logo-footer"></use>
              </svg>
            </div>
            <div class="footer__name">Writer<br> Works</div>
          </div>
        </a>
        <div class="footer__copy">
          © 2023 Всі права захищені
        </div>
      </div>

      <nav class="menu footer__menu">
        <a href="#" class="menu__item">Послуги</a>
        <a href="#" class="menu__item">Портфоліо</a>
        <a href="#" class="menu__item">Чому ми</a>
      </nav>

      <div class="footer__contacts">
        <a href="tel:+380968814719" class="footer__tel">
          +380 (96) 881 47 19
        </a>
        <a href="tel:+380631035218" class="footer__tel">
          +380 (63) 103 52 18
        </a>
        <div class="footer__contacts-icon">
          <a href="#">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#telegram-footer"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#viber-footer"></use>
            </svg>
          </a>
        </div>
      </div>

    </div>
  </div>

</footer>
