<header>
  <div class="container">
    <div class="header__wrap">
      <div class="header__brand">
        <a href="#" class="header__logo">
          <div class="header__logo-wrap">
            <div class="header__logo-img">
              <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#logo-header"></use>
              </svg>
            </div>
            <div class="header__name">Writer<br> Works</div>
          </div>
        </a>
      </div>

      <nav class="menu header__menu">
        <a href="#" class="menu__item">Послуги</a>
        <a href="#" class="menu__item">Портфоліо</a>
        <a href="#" class="menu__item">Чому ми</a>
      </nav>

      <div class="header__contacts">
        <a href="tel:+380968814719" class="header__tel">
          +380 (96) 881 47 19
        </a>
        <a href="tel:+380631035218" class="header__tel">
          +380 (63) 103 52 18
        </a>
        <div class="header__contacts-icon">
          <a href="#">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#telegram-header"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#viber-header"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="header__burger">

      </div>

    </div>
  </div>
</header>
