<section class="intro">
  <div class="container">
    <div class="intro__wrap">
      <h1 class="title intro__title">
        Допоможемо в розробці дисертації
        <span class="text_red">"під ключ"</span>
      </h1>
      <div class="intro__subtitle">
        Яка у вас спеціальність? Терміни? Які напрацювання маєте?
      </div>
      <div class="intro__btn">
        <button class="button button_red intro__btn-item">
          Проконсультуватися
        </button>
        <div class="intro__btn-desc">
          Розрахуємо вартість вашої роботи і сформуємо пропозицію
        </div>
      </div>
      <div class="intro__stat">
        <div class="intro__stat-item">
          <div class="intro__num">
            4<span class="plus">+</span>
          </div>
          <div class="intro__stat-desc">
            Роки в справі
          </div>
        </div>
        <div class="intro__stat-item">
          <div class="intro__num">
            65<span class="plus">+</span>
          </div>
          <div class="intro__stat-desc">
            Робіт захистили завдяки нам
          </div>
        </div>
        <div class="intro__stat-item">
          <div class="intro__num">
            <span class="word">до</span> 40
          </div>
          <div class="intro__stat-desc">
            років досвіду наших авторів
          </div>
        </div>
        <div class="intro__stat-item">
          <div class="intro__num">
            <span class="word">від</span> 3
          </div>
          <div class="intro__stat-desc">
            місяців пишемо роботи
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="know">
  <div class="container">
    <div class="know__wrap">
      <div class="know__picture">
        <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#picture-know"></use>
        </svg>
      </div>
      <div class="know__body">
        <h2 class="title-mid know__title">
          Знаємо свою
          <span class="text_red">справу</span>
        </h2>
        <div class="subtitle know__subtitle">
          До нас звертаються люди, які знають, чого хочуть,
          чітко йдуть до своїх цілей у наукових здобутках.
          І ми їм у цьому допомагаємо!
        </div>
      </div>
    </div>
    <div class="shadow-text">
      Послуги
    </div>

  </div>
</section>

<section id="tariffs" class="tariffs">
  <div class="tariffs__arrow">
    <a href="#tariffs">
      <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
  </div>
  <div class="container">
    <div class="tariffs__wrap">
      <h2 class="title-mid tariffs__title">
        Готові виконати для вас працю
        <span class="text_red">"під ключ"</span>
        або окремі частини
      </h2>
      <div class="tariffs__item">
        <div class="tariffs__body">
          <div class="tariffs__item-title">
            Кандидатська дисертація "під ключ"
          </div>
          <div class="tariffs__action">
            <div class="tariffs__price">
              <div class="tariffs__number">
                від 58 000грн
              </div>
              <div class="tariffs__profit">
                (Вигода до 25%)
              </div>
            </div>
            <button class="button button_red tariffs__btn">
              Проконсультуватись
            </button>
          </div>
        </div>
        <div class="tariffs__list">
          <div class="tariffs__list-title">
            Якщо замовляти окремо:
          </div>
          <div class="tariffs__list-item list_red">Робота від 45 000 грн</div>
          <div class="tariffs__list-item list_red">Стаття ВАК від 2 300 грн</div>
          <div class="tariffs__list-item list_red">Стаття для Scopus від 2 800 грн</div>
          <div class="tariffs__list-item list_red">Автореферат від 12 000 грн</div>
        </div>
      </div>

      <div class="tariffs__item">
        <div class="tariffs__body">
          <div class="tariffs__item-title">
            Докторська<br> дисертація "під ключ"
          </div>
          <div class="tariffs__action">
            <div class="tariffs__price">
              <div class="tariffs__number">
                від 210 000грн
              </div>
              <div class="tariffs__profit">
                (Вигода до 35%)
              </div>
            </div>
            <button class="button button_red tariffs__btn">
              Проконсультуватись
            </button>
          </div>
        </div>
        <div class="tariffs__list">
          <div class="tariffs__list-title">
            Якщо замовляти окремо:
          </div>
          <div class="tariffs__list-item list_red">Робота від 120 000 грн</div>
          <div class="tariffs__list-item list_red">Стаття ВАК від 2 800 грн</div>
          <div class="tariffs__list-item list_red">Стаття для Scopus від 3 300 грн</div>
          <div class="tariffs__list-item list_red">Автореферат від 19 000 грн</div>
          <div class="tariffs__list-item list_red">Монографія від 50 000 грн</div>
        </div>
      </div>

      <div class="tariffs__item">
        <div class="tariffs__body">
          <div class="tariffs__item-title">
            Додатково
          </div>
          <div class="tariffs__action">
            <div class="tariffs__price">
              <div class="tariffs__number">
                від 2 300грн
              </div>
            </div>
            <button class="button button_red tariffs__btn">
              Проконсультуватись
            </button>
          </div>
        </div>
        <div class="tariffs__list tariffs__list_pad">
          <div class="tariffs__list-item list_red">Тезиси (апробація)</div>
          <div class="tariffs__list-item list_red">Патенти (для технічних спеціальностей)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="tariffs__phd">PhD</div>
</section>

<section class="reasons">
  <div class="reasons__wrap">
    <div class="container">
      <h2 class="title-mid reasons__title">
        <span class="text_red">Нас вибирають</span>
        не просто так
      </h2>
    </div>
    <div class="reasons__main">
      <div class="reasons__picture">
        <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#picture-reasons"></use>
        </svg>
      </div>
      <div class="reasons__body">
        <div class="reasons__row reasons__row_first">
          <div class="reasons__item">
            <span class="text_strong">Справляємося з усіма спеціальностями та рівнями складності.</span>
            Для нас немає нічого неможливого
            <div class="reasons__num">01</div>
          </div>
          <div class="reasons__item">
            <span class="text_strong">Даємо справжні гарантії.</span>
            Цінуємо майбутнім клієнтів та своєю репутацією
            <div class="reasons__num">02</div>
          </div>
        </div>
        <div class="reasons__row reasons__row_second">
          <div class="reasons__item">
            <span class="text_strong">Повний супровід до захисту.</span><br>
            Працюємо зрозуміло та прозоро. Контроль процесу з вашого боку
            <div class="reasons__num">03</div>
          </div>
          <div class="reasons__item">
            <span class="text_strong">Розуміємо своїх клієнтів з півслова.</span>
            Завжди домовимось, знайдемо компроміс
            <div class="reasons__num">04</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="examples">
  <div class="examples__wrap">
    <div class="container">
      <h3 class="title-s examples__title">
        <span class="text_red">Ми розуміємо</span>
        , наскільки важливо знайти хороших виконавців для своєї дисертації,
        тому показуємо вам, які
        <span class="text_red">роботи здатні виконувати.</span>
      </h3>
      <div class="subtitle examples__subtitle">
        Із зрозумілих причин назви тем трохи видозмінили.
        Анонімність понад усе
      </div>
    </div>
    <div class="examples__list">
      <div class="examples__item">
        <div class="container">
          <div class="examples__spec">
            Спеціальність: Авіа-ракетобудування
          </div>
          <div class="examples__thesis">
            Тема: "Прямоточні двигуни в ракетобудуванні. Регулювання витрати палива"
          </div>
        </div>
      </div>
      <div class="examples__item">
        <div class="container">
          <div class="examples__spec">
            Спеціальність: Психологія
          </div>
          <div class="examples__thesis">
            Тема: "Формування професійно-ціннісних
            орієнтацій майбутніх працівників с/г у професійних технічних училищах"
          </div>
        </div>
      </div>
      <div class="examples__item">
        <div class="container">
          <div class="examples__spec">
            Спеціальність: Електротехніка
          </div>
          <div class="examples__thesis">
            Тема: "Метрологічне забезпечення термометричних систем..."
          </div>
        </div>
      </div>
      <div class="examples__item">
        <div class="container">
          <div class="examples__spec">
            Спеціальність: Інформаційні технології
          </div>
          <div class="examples__thesis">
            Тема: "Теоретичні та практичні принципи забезпечення комплексного
            захисту комп'ютерних систем і мереж (на прикладі
            Апаратно-реалізованої системи захисту мережі антивірусними
            модулями, що самонавчаються)
          </div>
        </div>
      </div>
      <div class="examples__item">
        <div class="container">
          <div class="examples__spec">
            Спеціальність: Педагогіка
          </div>
          <div class="examples__thesis">
            Тема: "Використання інформаційно-комунікаційних технологій у
            процесі навчання іноземних студентів англійською мовою у Великій Британії"
          </div>
        </div>
      </div>
      <div class="examples__item">
        <div class="container">
          <div class="examples__spec">
            Спеціальність: Маркетинг
          </div>
          <div class="examples__thesis">
            Тема: "Організаційно-економічний механізм у маркетингу
            (на прикладі вітчизняних підприємств із виробництва сталі)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="thesis">
  <div class="container">
    <div class="thesis__wrap">
      <h3 class="title-s thesis__title">
        Покажіть нам
        <span class="text_red">свою тему</span>
      </h3>
      <div class="subtitle thesis__subtitle">
        Зробимо все, щоб ви успішно отримали степінь
      </div>
      <div class="thesis__benefits">
        <div class="thesis__benefits-item">
          <div class="thesis__benefits-icon">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#discover"></use>
            </svg>
          </div>
          <div class="thesis__benefits-name">
            ніякого плагіату
          </div>
        </div>
        <div class="thesis__benefits-item">
          <div class="thesis__benefits-icon">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#confidentional"></use>
            </svg>
          </div>
          <div class="thesis__benefits-name">
            конфіденційність
          </div>
        </div>
        <div class="thesis__benefits-item">
          <div class="thesis__benefits-icon">
            <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="img/sprite.svg#support"></use>
            </svg>
          </div>
          <div class="thesis__benefits-name">
            повний супровід
          </div>
        </div>
      </div>
      <div class="thesis__form">
        <form id="thesisForm" class="form">
          <input type="text"
                 name="name"
                 id="name"
                 value=""
                 placeholder="Ваше ім'я"
                 class="form__input form__input_text thesis__input _name">
          <input type="tel"
                 name="tel"
                 id="tel"
                 value="+380"
                 placeholder="(99)999-99-99"
                 class="form__input form__input_text thesis__tel _tel">
          <textarea name="spec"
                    id="spec"
                    class="form__input form__input_area thesis__area"
                    placeholder="Яка у вас спеціальність, терміни, які напрацювання маєте">
              </textarea>
          <button type="submit"
                  class="button button_red form__btn thesis__btn">
            Проконсультуватись
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="goal">
  <div class="goal__wrap">
    <div class="container goal__main">
      <div class="goal__body">
        <div class="title-s goal__title">
          Не важливо для якої цілі ви
          <span class="text_red">отримуєте наукове звання</span>
        </div>
        <div class="subtitle goal__subtitle">
          Для розвитку кар'єри чи для регалій в науковій діяльності
        </div>
        <div class="goal__text">
          напишемо роботу
          <span class="text_strong">конкретно під ваш запит</span>
          з необхідною глибиною наукового дослідження і
          <span class="text_strong text_red">під наявний бюджет!</span>
        </div>
      </div>
      <div class="goal__picture">
        <img src="/img/woman.png" alt="woman sculpture">
      </div>
    </div>
    <div class="goal__task">
      <div class="goal__task-title">
        Вашим завданням є надати нам необхідний матеріал,
        встановити терміни виконання.
      </div>
      <div class="goal__task-text">
        Наше зобов'язання - віддати вам готовий, оформлений текст
      </div>
    </div>
  </div>
</section>

<section class="time">
  <div class="container">
    <div class="time__wrap">
      <h3 class="title-s time__title">
        Уявіть, скільки часу ми можемо
        <span class="text_red">зекономити для вас</span>
      </h3>
      <div class="subtitle time__subtitle">
        За нашою статистикою, в середньому ми заощаджуємо своїм клієнтам
        від 4 до 9 місяців життя
      </div>
      <div class="time__reasons">
        <div class="time__item">
          У розробці правильного змісту, щоб надалі вистачило матеріалу для
          написання розділів
          <div class="time__num">
            1
          </div>
        </div>
        <div class="time__item">
          У пошуку та підборі величезної кількості літератури, її обробці та
          впровадженні у працю
          <div class="time__num">
            2
          </div>
        </div>
        <div class="time__item">
          У форматуванні тексту для проходження строгих систем перевірки
          плагіату
          <div class="time__num">
            3
          </div>
        </div>
        <div class="time__item">
          У проведенні тривалих складних досліджень, розробці практичної
          значущості праці
          <div class="time__num">
            4
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="contact__wrap">
      <div class="contact__body">
        <div class="contact__title">
          Якщо ви все ще сумніваєтесь, чи зможемо
          <span class="text_red">ми вам якісно допомогти</span>
        </div>
        <div class="contact__subtitle">
          Залиште свої контакти і ми переконаємо вас, що співпраця з нами -
          <span>
                Одне із найправильніших ваших рішень за останні кілька років
              </span>
        </div>
      </div>
      <form id="form1" class="contact__form form">
        <input type="text"
               class="form__input _name"
               placeholder="Ваше ім'я"
               name="name"
               value="">
        <input type="tel"
               name="tel"
               id="telCont"
               class="form__input _tel"
               value="+380">
        <button type="submit"
                class="button button_red contact__btn">
          Чекаю дзвінка
        </button>
      </form>
    </div>
  </div>
</section>

<div class="popup" id="popupForm">
  <div class="popup__body">
    <div class="popup__content">
      <div class="popup__close close-popup">
        <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#close-popup"></use>
        </svg>
      </div>
      <form id="formPopup" class="form popup__form" action="">
        <div class="popup__title">Замовити консультацію</div>
        <div class="popup__subtitle">
          Передзвонимо, проконсультуємо по всіх питаннях
        </div>
        <input type="text"
               class="form__input popup__field _name"
               placeholder="Ваше ім'я"
               name="name"
               value="">
        <input type="tel"
               name="tel"
               class="form__input popup__field _tel"
               value="+380">
        <button type="submit"
                class="button button_red popup__field">
          Чекаю дзвінка
        </button>
        <div class="popup__personal">
          Натискаючи кнопку, ви згоджуєтесь на обробку персональних даних.
        </div>
      </form>
    </div>
  </div>
</div>
